# Madi Qualley
## week 5 - 09/24/2020
### Python for loops

**general for loops format:**

<code> for item in object:
    statements to do work </code>

In [1]:
sc = [68, 87, 93, 87, 90, 45, 67, 37, 89, 76]

In [2]:
sc

[68, 87, 93, 87, 90, 45, 67, 37, 89, 76]

In [3]:
for n in sc:
    print(n)

68
87
93
87
90
45
67
37
89
76

In [4]:
4 % 2

0

In [5]:
5 % 2

1

In [6]:
for num in sc:
    if num % 2 == 0:
        print(num)

68
90
76

In [7]:
for num in sc:
    if num % 2 != 0:
        print(num)

87
93
87
45
67
37
89

In [11]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print("odd score.")

68
odd score.
odd score.
odd score.
90
odd score.
odd score.
odd score.
odd score.
76

In [12]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
print(sc_sum)

739

In [15]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n
    
avg = sc_sum / len(sc)
print(avg)

73.9

In [16]:
for letter in 'I am a student in CIS310!':
    print (letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S
3
1
0
!

In [17]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [18]:
ls1 = [(10,20), (30,40), (50,60), (70,80), (90,100)]

In [19]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [20]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [21]:
for (t1, t2) in ls1:
    print(t1)

10
30
50
70
90

In [22]:
for (t1, t2) in ls1:
    print(t2)

20
40
60
80
100

In [23]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [24]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [25]:
for item in d:
    print(item)

brand
model
year

In [26]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [27]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [28]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [29]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [30]:
for k,v in d.items():
    print(k)
    print(v)f

brand
Ford
model
Mustang
year
1964

In [32]:
for k in d.keys():
    print(k)

brand
model
year

In [33]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [34]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [37]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [38]:
d1 = {'k1':5, 'k2':8, 'k3':3}

In [39]:
d1

{'k1': 5, 'k2': 8, 'k3': 3}

In [40]:
d1.values()

dict_values([5, 8, 3])

In [41]:
sorted(d1.values())

[3, 5, 8]

In [42]:
fruits = ["apple","strawberry","cherry"]

In [43]:
for f in fruits:
    print(f)

apple
strawberry
cherry