# Madi Qualley
## Week 8, 10/13/2020
### Python Functions - continued

In [1]:
def full_name(fname,lname):
    return fname +' '+lname

In [2]:
full_name('Madi','Qualley')

'Madi Qualley'

In [12]:
#find a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            return str(num) + ' is not prime'
        else:
            return str(num)+ ' is prime'

In [13]:
is_prime(16)

'16 is not prime'

In [14]:
#find a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num,' is not prime')
            break
        else:
              print(num,' is prime')

In [15]:
is_prime(15)

15  is prime
15  is not prime

In [16]:
is_prime(7)

7  is prime
7  is prime
7  is prime
7  is prime
7  is prime

In [17]:
#min_two_odds(3,5)--> 3
#min_two_odds(4,9)--> 9
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [18]:
min_two_odds(9,3)

3

In [19]:
min_two_odds(9,2)

9

In [22]:
# check if two word string starts with the same letter
def two_words_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [21]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [23]:
two_words_letters('Python Program')

True

In [24]:
two_words_letters('Java Program')

False

In [25]:
#reduce
def two_words_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0] == wdlist[1][0]

In [26]:
two_words_letters('Java Program')

False

In [27]:
two_words_letters('Python Program')

True

In [34]:
#create_thirty(10,20) -->True
#create_thirty(5,30) -->True
#create_thirty(5,20) -->True
def create_thirty(num1,num2):
    if (num1+num2)==30:
        return True
    elif num1 == 30:
        return True
    elif num2 == 30:
        return True
   
    else:
        return False

In [35]:
create_thirty(10,20)

True

In [39]:
create_thirty(5,30)

True

In [40]:
create_thirty(5,20)

False

In [42]:
#reduce
def create_thirty(num1,num2):
    return (num1+num2)==30 or num1 == 30 or num2 == 30

In [43]:
create_thirty(10,20)

True

In [44]:
create_thirty(5,20)

False

In [45]:
#'programming' --> ProGramming
w = 'mcdonald'
w.capitalize()

'Mcdonald'

In [46]:
w[:3]

'mcd'

In [51]:
part1 = w[:3].capitalize()

In [52]:
part2 = w[3:].capitalize()

In [53]:
part1 + part2

'McdOnald'

In [54]:
def caps_two_letters(word):
    part1 = word[:3].capitalize()
    part2 = word[3:].capitalize()
    return part1 + part2

In [55]:
caps_two_letters('program')

'ProGram'

In [56]:
caps_two_letters('mcdonald')

'McdOnald'

In [57]:
caps_two_letters('cis')

'Cis'

In [2]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()

In [3]:
lst

['I', 'am', 'home']

In [13]:
#lst.reverse()
lst[::-1]

['I', 'am', 'home']

In [5]:
lst

['home', 'am', 'I']

In [6]:
' '.join(lst)

'home am I'

In [14]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [15]:
rv_stat('I am home')

'home am I'

In [16]:
#Check if a list has number 5 next to number 5 somewhere in the list
# [3,4,5,5,10] -> True
# [3,4,5,6,5,8] -> false
def has_55(lst):
    for i in range (0,len(lst)-1):
        if lst[i]==5 and lst[i+1]==5:
            return True
        
        return False

In [17]:
has_55([3,4,5,5,10])

False

In [19]:
has_55([3,4,5,6,5,8])

False

In [23]:
# check code 001 in a list
#[1,4,5,0,0,1,8] -> True
# [1,0,2,5,0,6,7,8] -> True
# [1,5,6,0,6,7,8,0] -> False
def check_code (lst):
    code = [0,1,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) #remove the number index 0
            
        return len(code)== 1

In [24]:
check_code([1,4,5,0,0,1,8])

False

In [25]:
check_code([1,4,5,0,0,1,8])

False

In [27]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [28]:
code.pop(0)
code

[1, 's']

In [29]:
# Number of arguments
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name('Jon', 'Clark')

Jon Clark

In [37]:
def full_name(*names):
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + " " + names[1])
    
    full_name('Jon','Clark')

In [44]:
def sum_nums(*n):
    return sum(n)

In [43]:
sum_nums(10,15)

25

In [48]:
sum_nums(11,20)

31